extends layout

block content
  h1= title
  p available methods
    table(style='text-align:left')
        tr
            th route
            th details
        tr
            td /Station 
            td 
                a(href='/Station') Get all stations
        tr
            td /Station/{#[strong id]}
            td 
                a(href='/Station/Los Angeles') Get the details of the specified station